safarsetu/target/
safarsetu/.env
safarsetu/*.iml
safarsetu/.idea/
safarsetu/application-local.properties
safarsetu/application-prod.properties
safarsetu/*.pem

safarsetu-frontend/node_modules/
safarsetu-frontend/dist/
safarsetu-frontend/.env
safarsetu-frontend/.env.local
safarsetu-frontend/.env.production
safarsetu-frontend/.env.development
safarsetu-frontend/.idea/

safarsetu-admin-frontend/node_modules/
safarsetu-admin-frontend/dist/
safarsetu-admin-frontend/.env
safarsetu-admin-frontend/.env.local
safarsetu-admin-frontend/.env.production
safarsetu-admin-frontend/.env.development
safarsetu-admin-frontend/.idea/

.DS_Store
Thumbs.db
*.log
*.pem
*.key